version: '3.8'

services:

  # db_mysql:
  #   image: mysql:platform
  #   build:
  #     context: ./mysql_build
  #     dockerfile: Dockerfile-mysql
  #   container_name: sas-mysql
  #   volumes:
  #     - /Users/samuelcroker/SAS_Platform/data_mysql:/var/lib/mysql
  #   command: --default-authentication-plugin=mysql_native_password
  #   restart: always
  #   ports:
  #     - 3306:3306
  #   environment:
  #     MYSQL_ROOT_PASSWORD: Orion123   # mysql -u root -p
  #     VIRTUAL_HOST: sasnet.mysql
  #   networks:
  #     - sasbridge

  # db_pg:
  #   image: postgres:platform
  #   build:
  #     context: ./postgres_build
  #     dockerfile: Dockerfile-postgres
  #   container_name: sas-postgres
  #   volumes:
  #     - /Users/samuelcroker/SAS_Platform/data_postgres:/var/lib/postgresql/data/pgdata
  #   restart: always
  #   ports:
  #     - 5432:5432
  #   environment:
  #     POSTGRES_PASSWORD: Orion123
  #     PGDATA: /var/lib/postgresql/data/pgdata
  #     VIRTUAL_HOST: sasnet.postgres
  #   networks:
  #     - sasbridge

  # # db_oracle:
  # #   image: oracle:platform
  # #   build:
  # #     context: ./oracle_build
  # #     dockerfile: Dockerfile-oracle
  # #   container_name: sas-oracle
  # #   volumes:
  # #     - /Users/samuelcroker/SAS_Platform/data_oracle/oradata:/opt/oracle/oradata
  # #     - /Users/samuelcroker/SAS_Platform/data_oracle/scripts:/opt/oracle/scripts/setup
  # #     - /Users/samuelcroker/SAS_Platform/data_oracle/startup:/opt/oracle/scripts/startup
  # #   restart: always
  # #   ports:
  # #     - 1521:1521
  # #     - 5500:5500
  # #   # environment:
  # #   #   ORACLE_PWD: ORION123
  # #   #   ORACLE_CHARACTERSET: AL32UTF8]   
  # #   networks:
  # #     - sasbridge

  # db_db2:
  #   image: db2:platform
  #   build:
  #     context: ./db2_build
  #     dockerfile: Dockerfile-db2
  #   container_name: sas-db2
  #   volumes:
  #    - /Users/samuelcroker/SAS_Platform/data_db2:/database
  #   restart: always
  #   ports:
  #    - 50000:50000
  #   privileged: true
  #   environment:
  #     LICENSE: accept 
  #     DB2INST1_PASSWORD: Orion123 
  #     DBNAME: testdb
  #   networks:
  #    - sasbridge



  # an_python:
  #   image: scoyote/pythonswat:platform
  #   build:
  #     context: ./python
  #     dockerfile: Dockerfile-python
  #   container_name: python-swat
  #   volumes:
  #     - /Users/samuelcroker/Documents/repositories:/repositories
  #     - /Users/samuelcroker/SAS_Platform/shared:/shared
  #   restart: unless-stopped
  #   user: sas
  #   command: /bin/bash -c "jupyter notebook --allow-root --notebook-dir=/shared --ip='*' --port=8888 --no-browser --NotebookApp.token=''"
  #   ports:
  #     - 8888:8888
  #   environment:
  #     VIRTUAL_HOST: sasnet.pythonswat
  #   networks:
  #     - sasbridge

  # an_r:
  #   image: scoyote/rswat:platform
  #   build:
  #     context: ./rocker
  #     dockerfile: Dockerfile-rocker
  #   container_name: r-swat
  #   volumes:
  #     - /Users/samuelcroker/Documents/repositories:/repositories
  #     - /Users/samuelcroker/SAS_Platform/shared:/shared
  #   restart: unless-stopped
  #   environment:
  #     VIRTUAL_HOST: sasnet.rswat
  #   ports:
  #     - 8787:8787
  #   networks:
  #     - sasbridge

  # code-server:
  #   image: linuxserver/code-server
  #   container_name: code-server
  #   environment:
  #     - PUID=1100
  #     - PGID=1100
  #     - TZ=America/New_York
  #      - PASSWORD=Orion123
  #      - SUDO_PASSWORD=Orion123
  #     #  - PROXY_DOMAIN=code-server.scoyotenet.local
  #   volumes:
  #     - /Users/samuelcroker/Documents/repositories:/repositories
  #     - /Users/samuelcroker/SAS_Platform/vscode/config:/config
  #     - /Users/samuelcroker/SAS_Platform/shared:/shared
  #   ports:
  #     - 8443:8443
  #   restart: unless-stopped
  #   networks:
  #     - sasbridge

  # adminer:
  #   image: adminer:platform
  #   build:
  #     context: ./adminer
  #     dockerfile: Dockerfile-adminer
  #   container_name: sas-adminer
  #   restart: always
  #   ports:
  #     - 8080:8080
  #   environment:
  #     VIRTUAL_HOST: sasnet.adminer
  #   networks:
  #     - sasbridge

  # sas-94cp:
  #   image: sas-94:platform
  #   build:
  #     context: ./sas
  #     dockerfile: Dockerfile-sas
  #   container_name: sas-94
  #   volumes:
  #     - /Users/samuelcroker/Documents/repositories:/repositories
  #     - /Users/samuelcroker/SASDepot/LINAMinINTTECH:/depot
  #     - /Users/samuelcroker/SAS_Platform/shared:/shared
  #   ports:
  #     - 38080:38080
  #     - 8592:8591
  #     - 58591:58591
  #   command: "/home/sas/entrypoint.sh"
  #   environment:
  #     VIRTUAL_HOST: sasnet.sas
  #   networks:
  #     - sasbridge
  sas-viya35:
    image: registry.unx.sas.com/jaskal/viya35access:v2
    container_name: sas-viya35PL
    volumes:
      - /Users/samuelcroker/Documents/repositories:/repositories
      - /Users/samuelcroker/Documents/SAS_Viya35/sasinside:/sasinside
      - /Users/samuelcroker/Documents/SAS_Viya35/sasdemo:/data
      - /Users/samuelcroker/Documents/SAS_Viya35/cas/data:/cas/data
      - /Users/samuelcroker/Documents/SAS_Viya35/cas/cache:/cas/cache
      - /Users/samuelcroker/Documents/SAS_Viya35/cas/permstore:/cas/permstore
      - /Users/samuelcroker/.ssh:/keys
    ports:
      - 5570:5570
      - 8777:8777
      - 2323:2323
      - 8591:8591
      - 38081:38080
      - 2144:2144
      - 8561:8561
      - 41415:41415
      - 38667:38667
      - 45745:45745
      - 41203:41203
      - 8081:80
      - 8443:443
    environment:
      VIRTUAL_HOST: sasnet.sasviya35PL
    networks:
      - sasbridge

#   ut_reverse:
#     container_name: utility-reverse
#     hostname: sc_rev
#     image: nginx
#     ports:
#       - 80:80
#       - 443:443
#     volumes:
#       - /Users/samuelcroker/sas_platform/nginx/conf.d:/etc/nginx/conf.d
#       - /Users/samuelcroker/sas_platform/keys:/etc/ssl/private
#     networks:
#       - sasbridge
#     restart: always

  # nginx-proxy:
  #   image: jwilder/nginx-proxy
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - /var/run/docker.sock:/tmp/docker.sock:ro
  #   networks:
  #     - sasbridge

  # whoami:
  #   image: jwilder/whoami
  #   environment:
  #     - VIRTUAL_HOST=whoami.local
  #   networks:
  #     - sasbridge

networks:
    sasbridge:
        driver: bridge


