version: '3.8'

services:

  db_mysql:
    image: scoyote/mysql:platform
    container_name: sas-mysql
    volumes:
      - /Users/samuelcroker/SAS_Platform/data_mysql:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: Orion123   # mysql -u root -p
    networks:
      - sasbridge

  db_pg:
    image: scoyote/postgres:platform
    container_name: sas-postgres
    volumes:
      - /Users/samuelcroker/SAS_Platform/data_postgres:/var/lib/postgresql/data/pgdata
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: Orion123
      PGDATA: /var/lib/postgresql/data/pgdata
    networks:
      - sasbridge

  an_python:
    image: scoyote/pythonswat:latest
    build:
      context: ./python
      dockerfile: Dockerfile-python
    container_name: python-swat
    volumes:
      - /Users/samuelcroker/Documents/repositories:/repositories
      - /Users/samuelcroker/SAS_Platform/shared:/shared
    restart: unless-stopped
    user: sas
    command: /bin/bash -c "jupyter notebook --allow-root --notebook-dir=/shared --ip='*' --port=8888 --no-browser --NotebookApp.token=''"
    ports:
      - 8888:8888
    networks:
      - sasbridge

  an_r:
    image: scoyote/rswat:latest    
    build:
      context: ./rocker
      dockerfile: Dockerfile-rocker
    container_name: r-swat
    volumes:
      - /Users/samuelcroker/Documents/repositories:/repositories
      - /Users/samuelcroker/SAS_Platform/shared:/shared
    restart: unless-stopped
    ports:
      - 8787:8787
    networks:
      - sasbridge

  code-server:
    image: linuxserver/code-server
    container_name: code-server
    environment:
      - PUID=1100
      - PGID=1100
      - TZ=America/New_York
       - PASSWORD=Orion123
       - SUDO_PASSWORD=Orion123
      #  - PROXY_DOMAIN=code-server.scoyotenet.local
    volumes:
      - /Users/samuelcroker/Documents/repositories:/repositories
      - /Users/samuelcroker/SAS_Platform/vscode/config:/config
      - /Users/samuelcroker/SAS_Platform/shared:/shared
    ports:
      - 8443:8443
    restart: unless-stopped
    networks:
      - sasbridge

  adminer:
    image: adminer:latest
    container_name: sas-adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - sasbridge

  sas-94cp:
    image: sas-94:platform
    build:
      context: ./sas
      dockerfile: Dockerfile-sas
    container_name: sas-94
    volumes:
      - /Users/samuelcroker/Documents/repositories:/repositories
      - /Users/samuelcroker/SASDepot/LINAMinINTTECH:/depot
      - /Users/samuelcroker/SAS_Platform/shared:/shared
    ports:
      - 38080:38080
      - 8591:8591
      - 58591:58591
    command: "/home/sas/entrypoint.sh"
    networks:
      - sasbridge

  ut_reverse:
    container_name: utility-reverse
    hostname: sc_rev
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - /Users/samuelcroker/sas_platform/nginx/conf.d:/etc/nginx/conf.d
      - /Users/samuelcroker/sas_platform/keys:/etc/ssl/private
    networks:
      - sasbridge
    restart: always
networks:
    sasbridge:
        driver: bridge


